@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

:root {
    --font-family: "Open Sans", sans-serf;
    --normal-font: 400;
    --bold-font: 700;
    --bolder-font: 900;
    --bg-color: rgb(57, 57, 57)
    --primary-color: #00a3de;
    --secondary-color: #757575;
    --third-color: #004117;
    --secondary-shadow: #dcdcdc;
    --bottom-margin: 0.5rem;
    --bottom-margin-2: 1rem;
    --line-height: 1.7rem;
    --transition: 0.3s;
  }




html {
    scroll-behavior: smooth;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  ul {
    list-style-type: none;
  }
  
  a {
    color: #ffffff;
  }
  
  nav a:hover {
    color: var(--third-color);
  }
  
  body {
    font-family: var(--font-family);
  }

  nav {
    position: sticky;
    top: 0;
    left: 0;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.5rem 3.5rem;
    background-color: rgba(255, 255, 255);
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1);
  }

  nav h1 {
    color: var(--primary-color);
  }
  
  nav a {
    color: var(--secondary-color);
    transition: var(--transition);
  }
  nav a:hover {
    color: var(--third-color);
  }
  
  nav ul {
    display: flex;
    gap: 1.9rem;
  }
  
  nav ul li {
    font-weight: var(--bold-font);
  }

.hero {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2.5rem;
    max-width: 68.75rem;
    margin: auto;
}

.hero img {
  height: 10rem;
  width: 10rem;
}

.bio {
    width: 50rem;
    padding: 0.625rem;
    border-radius: 6px;
    box-shadow: 0px 2px 10px 2px #8cfcfcf
}

.bio h1 {
    margin-bottom: var(--bottom-margin);
}

.bio h3 {
    color: var(--primary-color);
    transition: var(--transition);
}

.bio p {
    line-height: var(--line-height);
    padding: 0.3rem 0;
}

.bio a {
    color: var(--secondary-color);
    transition: var(--transition);
  }

.bio a:hover {
    color: var(--third-color);
}

.project {
  max-width: 68.75rem;
  margin: auto;
  text-align: center;
  margin-top: 2.5rem;
}

.cs-project {
  background-color: rgb(40, 40, 40);
  border-radius: 20px;
  box-shadow: 0 3px 10px var(--secondary-shadow);
  padding: 20px;
  margin: 10px;
  text-align: left;
  margin-bottom: 2rem;
}

.cs-project h3 {
    color: var(--primary-color);
}

.cs-project a {
    color: var(--primary-color);
}

.cs-project a:link {
    color: var(--primary-color);
}

.cs-project a:hover {
    color: var(--third-color);
}

.cs-project small {
    color: var(--secondary-color);
}

.imd-project {
  background-color: #ffffff;
  border-radius: 20px;
  box-shadow: 0 3px 10px var(--secondary-shadow);
  padding: 20px;
  margin: 10px;
  text-align: left;
  margin-bottom: 1rem;
}

.imd-project h3 {
    color: var(--primary-color);
}

.imd-project a {
    color: var(--primary-color);
}

.imd-project a:link {
    color: var(--primary-color);
}

.imd-project a:hover {
    color: var(--third-color);
}

.imd-project small {
    color: var(--secondary-color);
}

